* {
    margin: 0;
}

html {
    font-size: 10px;
}


.reset-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url("../assets/vaoneside-invert.png");
}

.reset-form {
    position: relative;
    width: 65rem;
    height: 45rem;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    background-color: rgba(48, 51, 57, 0.98)
        /*rgba(48,51,57,1)*/
    ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-name {
    position: relative;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    margin: 70px 0 50px 0;
}


.pass-box {
    width: 80%;
    margin: 0 0 20px 0;
    /*background-color: rgb(89, 252, 252);*/
}

.pass-input {
    width: 94%;
    height: 35%;
    margin: 0 0 1.8% 1%;
    background-color: rgba(30, 31, 34, 1);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 10px;
}

.reset-interact {
    width: 78%;
    height: 16%;
    margin-top: 15px;
}

#reset-btn {
    width: 100%;
    height: 90%;
    margin: 1% 0 1.4% 0;
    /* 1% 2%*/
    font-size: 2.4rem;
    color: white;
    border: none;
    border-radius: 4px;
    background-color: rgb(85, 158, 253);
    box-sizing: 0 0 15px black;
}


.form-label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 5px 5px 3px 7px;
    color: rgba(255, 255, 255, 0.6);
}


.reset-done-box {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url("../assets/vaoneside-invert.png");
}

.reset-done {
    width: 60rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(30, 31, 34, 1)
        /*rgba(14, 14, 14, 0.98)*/
    ;
    box-shadow: 0 0 15px black;
}

.logo {
    width: 25%;
    margin: 20px 0 30px 0;
}

.reset-done-email-label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: white;
}

.reset-done-footer-box {
    width: 80%;
    margin: 8% 0 0 0;
}

.reset-done-footer {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
    padding: 0;
}

.pass-req-box {
    display: none;
    width: 78%;
    margin: 4px 0 2px 0;
}

.pass-match-box {
    display: none;
    width: 78%;
    margin: 10px 0 0 0;
}



.the-block {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 6;
    justify-content: center;
    align-items: center;
}

.middle {
    width: 80vw;
    height: 60vh;
    background-color: #000000;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}

.the-block-logo {
    width: 80%;
    margin: 0 40px 0 40px;
}

.the-block-name {
    position: relative;
    bottom: 60px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin: 0;
    text-align: center;
}

.the-block-rights {
    display: block;
    position: relative;
    margin: 40px 0 0 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

@media only screen and (max-width: 600px) {
    .reset-box {
        display: none;
    }

    .the-block {
        display: flex;
    }
}