* {
    margin: 0;
}

html {
    font-size: 10px;
}


.login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url("../assets/vaoneside-invert.png");
}

.login-form {
    position: relative;
    width: 70rem;
    height: 65rem;
    border-radius: 20px;
    box-shadow: 0 0 15px black;
    background-color: rgba(48, 51, 57, 0.98)
        /*rgba(48,51,57,1)*/
    ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-logo {
    width: 25%;
    margin: 30px 0 0 0;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);*/
}

.app-name {
    position: relative;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5rem;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.email-box {
    width: 80%;
    margin: 0 0 5px 0;
    /*background-color: rgb(89, 252, 252);*/
}

.email-input {
    width: 94%;
    height: 30%;
    margin: 0 0 2% 1%;
    background-color: rgba(30, 31, 34, 1);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 10px;
}

.pass-box {
    width: 80%;
    margin: 0;
    /*background-color: rgb(89, 252, 252);*/
}

.pass-input {
    width: 94%;
    height: 21%;
    margin: 0 0 1.7% 1%;
    background-color: rgba(30, 31, 34, 1);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 10px;
}

.forgot-anchor {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    border: none;
    padding: 0 0 0 8px;
    color: rgb(0, 146, 219);
    text-decoration: underline;
}

.info-box {
    width: 78%;
    margin: 10px 0 0 0;
}

.login-interact {
    width: 78%;
    height: 25%;
}

#login-btn {
    width: 100%;
    height: 40%;
    margin: 1.5% 0 1.4% 0;
    /* 1% 2%*/
    font-size: 2.4rem;
    color: white;
    border: none;
    border-radius: 4px;
    background-color: rgb(85, 158, 253);
    box-sizing: 0 0 15px black;
}

.newuser {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.6);
    margin: 0;
}

.newuser-anchor {
    border: none;
    margin: 0;
    padding: 0;
    background-color: rgba(48, 51, 57, 1);
    color: rgb(0, 146, 219);
    text-decoration: underline;
}

.form-label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 5px 5px 3px 7px;
    color: rgba(255, 255, 255, 0.6);
}


.the-block {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 6;
    justify-content: center;
    align-items: center;
}

.middle {
    width: 80vw;
    height: 60vh;
    background-color: #000000;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}

.the-block-logo {
    width: 80%;
    margin: 0 40px 0 40px;
}

.the-block-name {
    position: relative;
    bottom: 60px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin: 0;
    text-align: center;
}

.the-block-rights {
    display: block;
    position: relative;
    margin: 40px 0 0 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

@media only screen and (max-width: 600px) {
    .login-box {
        display: none;
    }

    .the-block {
        display: flex;
    }
}