<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <link rel="stylesheet" href="/s/css/password.css" />
    <script src="https://kit.fontawesome.com/5153fbecde.js" crossorigin="anonymous"></script>
    <script src="/s/js/jquery.js"></script>
  </head>
  <body>
    <div class="the-block">
      <div class="middle">
        <img class="the-block-logo" src="/s/assets/logo.png" alt="LOGO" />
        <p class="the-block-name">vMessenger</p>
        <a class="the-block-rights" href="https://github.com/vickyarts"
          >Copyright ©2024 VickyArts</a
        >
      </div>
    </div>
    <div class="reset-box">
      <div class="reset-form">
        {% csrf_token %}
        <input type="hidden" name="passcode" value="{% passcode %}">
        <p class="title-name">Password Reset</p>
        <div class="pass-box" style="margin:0;">
          <p class="pass-label form-label">PASSWORD</p>
          <input type="password" name="pass" id="pass" class="pass-input" value="" />
        </div>
        <div class="pass-req-box">
          <span style="color: red; font-family: Arial;"><i class="fa-solid fa-circle-info"></i> Password should atleast be 10 character long!</span>
        </div>
        <div class="pass-box" style="margin:0;">
            <p class="pass-label form-label">CONFIRM PASSWORD</p>
            <input type="password" name="pass" id="conpass" class="pass-input" value="" style="margin: 0 0 0 1%;" />
        </div>
        <div class="pass-match-box">
          <span style="color: red; font-family: Arial;"><i class="fa-solid fa-circle-info"></i> Password not match!</span>
        </div>
        <div class="reset-interact">
          <button id="reset-btn" type="submit">Change Password</button>
        </div>
      </div>
    </div>
    <div class="reset-done-box">
        <div class="reset-done">
          <img src="/s/assets/logo-cropped.png" alt="logo" class="logo" />
          <p class="reset-done-email-label">Password reset email sent!</p>
          <div class="reset-done-footer-box">
            <a class="reset-done-footer" href="https://github.com/vickyarts"
              >Copyright ©2024 VickyArts</a
            >
        </div>
      </div>
    </div>
    <script src="/s/js/password.js"></script>
  </body>
</html>
