<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify Email</title>
    <link rel="stylesheet" href="/s/css/verify.css" />
  </head>
  <body>
    <div class="result-box">
      <div class="result">
        <img src="/s/assets/logo-cropped.png" alt="logo" class="res-logo" />
        <p class="verify-email-label">Verify your Email address</p>
        <hr class="res-line" />
        <p class="verify-email-para">
          Verification link has been sent to your email address.
          <br />
          Please verify your email to start using vMessenger!
        </p>
        <div class="res-footer-box">
          <a class="res-footer" href="https://github.com/vickyarts"
            >Copyright ©2024 VickyArts</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
