<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Verified</title>
    <link rel="stylesheet" href="/s/css/verified.css" />
  </head>
  <body>
    <div class="verify-box">
      <div class="verify">
        <img src="/s/assets/logo-cropped.png" alt="logo" class="logo" />
        <p class="verify-email-label">Email Address Verified!</p>
        <div class="verify-footer-box">
          <a class="verify-footer" href="https://github.com/vickyarts"
            >Copyright ©2024 VickyArts</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
